.app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.app-dropdown {
  margin: 10px 0;
}

.app-rule-offer {
  padding: 20px;
  margin: 10px 0;
  border: dashed green 1px;
}

.app-text-counter-main-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.app-text-counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-text-name {
  width: 18%;
}

.app-text-price {
  width: 15%;
}

.app-text-description {
  width: 30%;
}

.app-counter-container {
  width: 20%;
}

.app-output-text {
  margin: 20px 0;
  font-size: larger;
}